<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.focusly">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Focusly">
        <activity
            android:name=".bluetoothControl"
            android:exported="true" />
        <activity
            android:name=".DeviceList"
            android:exported="true" />
        <activity
            android:name=".BreathingActivity"
            android:exported="true" />
        <activity
            android:name=".OverviewActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".OffContinueActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".DoneOffTaskActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".EatActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".WalkActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".StretchingActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".MusicActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".OffTaskOptionsActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".ContinueActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".DoneOnTaskActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".OnTaskActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".ConfirmTaskActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".SetTaskTimerActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>